<div class="home-div">
	<div class="home-init">
		<a href="auth">
			<div class="w3-card-4 w3-center w3-theme w3-circle w3-animate-zoom " style="width: 150px;height: 150px;">
		 		<h3 style="padding-top: 50px;">
	    			<span class="w3-tag w3-round w3-text-theme w3-white">2</span>Gether
	    			<p data-i18n="common.joinUs"></p>
	    		</h3>
			</div>
		</a>
	</div> 
</div>
<!-- Footer -->
<footer class="w3-container w3-bottom w3-padding-2 w3-theme-l2 w3-center">
	<div class="w3-third">
  		<a href="auth" data-i18n="common.about"></a>
	</div>
	<div class="w3-third">
  		<p>2Gheter © 2016</p>
  		 <a href="" data-ng-click="setLocale('en-US')">English</a>
  		 <a href="" data-ng-click="setLocale('pt-BR')">Português</a>
  		 <a href="" data-ng-click="setLocale('es')">Espanhol</a>
	</div>
	<div class="w3-third">
  		<a href="auth">Help</a>
	</div>
</footer>