<div class="login_div">
	<form class="login_form " action="#">
		<div class="w3-card-4">
			<header class="w3-container w3-theme w3-center">
			  <h3><span class="w3-tag w3-round w3-text-theme w3-white">2</span>Gether</h3>
			</header>
		</br>
			<div class="w3-input-group" >      
              <input id="email" class="w3-input" placeholder="e-mail" type="email" required>
            </div>
            <div class="w3-input-group">      
              <input id="password" class="w3-input" placeholder="password" type="password" required>
            </div>
            <p class=" w3-center">
	            <a href="#" onclick="" class="w3-text-theme w3-hover-text-pink" style="margin-right: 10px;" target="_parent">
	             	Esqueceu sua senha?
	            </a>
            </p>
            <div class="w3-input-group w3-center">
            	<button onclick="app.login()" class="w3-btn w3-round w3-theme" style="width: 40%;"> Entrar </button>
        	</div>
		<a id="lnkCreateAccount" href="#auth"  onclick="showCreateAccount('createAccount')" class="w3-btn-block w3-theme-l2">Createn an account</a>
			<div id="createAccount" class="w3-accordion-content w3-animate-zoom">
				<div class="w3-container w3-light-grey w3-border-top w3-center">
					<p>
						<button class="w3-btn w3-round w3-theme">
							<span class="w3-tag w3-round w3-text-theme w3-white">2</span>Gether
						</button>
					</p>
					<!-- thirdy party login -->
					<a class="w3-btn-floating w3-indigo" href="javascript:void(0)" title="Facebook">
						<i class="fa fa-facebook" style="font-size:24px;"></i>
					</a>
					<a class="w3-btn-floating w3-cyan" href="javascript:void(0)" title="Twitter">
						<i class="fa fa-twitter"></i>
					</a>
					<a class="w3-btn-floating w3-red" href="javascript:void(0)" title="Google +">
						<i class="fa fa-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</form>
</div>	